<link href="~/lib/jquery-steps/steps.css" rel="stylesheet" />
<script src="~/lib/jquery-steps/steps.js"></script>
@model ENTIDADES.compras.CCotizacion

@{
    ViewData["Title"] = "Reg. Cotización";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var contactos = ViewBag.contactos;
    string panel1 = "", panel2 = "", disabled1 = "", disabled2 = "";
    string operacion;
    if (Model.idcotizacion is 0)
    {
        panel1 = "show active";
        panel2 = "fade";
        disabled1 = "active";
        disabled2 = "disabled";
        operacion = "REGISTRAR";
    }
    else
    {
        panel2 = "show active";
        panel1 = "fade";
        disabled1 = "disabled";
        disabled2 = "active";
        operacion = "EDITAR";

    }

}

<script>
    var IGV;
    var MODELO =@Html.Raw(Json.Serialize(Model)) ;
    var _OPERACION =@Html.Raw(Json.Serialize(operacion)) ;
    var lMonedas = @Html.Raw(Json.Serialize(@ViewBag.monedas));
     try {
         var IGV = parseFloat( @Html.Raw(Json.Serialize(@ViewBag.IGV)));

            if (IGV === 0 || IGV===null || isNaN(IGV))
                IGV = 0.18;
            if (IGV >= 1)
                IGV = IGV / 100;
        } catch (e) {
            IGV = 0.18;
        }
    console.log(_OPERACION);
</script>

<div class="row">
    <div class="col-xl-10 col-md-8">
        <div class="page-header mb-2 pb-2 flex-column flex-sm-row align-items-start align-items-sm-center py-25 px-1">

            <h1 class="page-title text-primary-d2 text-140">
                <a asp-action="Index"><i class="fas fa-long-arrow-alt-left font-22"></i></a>
                REGISTRAR PROFORMA
            </h1>
        </div>
    </div>
</div>
<div class="card">

    <div class="body">

        <ul class="nav nav-tabs" id="nav-tab" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link @disabled1" id="tab-tipo" data-toggle="tab" href="#nav-tipoproforma" role="tab">Tipo Proforma</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class=" nav-link @disabled2" id="tab-proforma" data-toggle="tab" href="#nav-proforma" role="tab">Proforma</a>
            </li>


        </ul>

        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade @panel1  " id="nav-tipoproforma" role="tabpanel">
                <div class="card">
                    <div class="card-body">

                        <div class="row">
                            <div class="col-lg-12">
                                <label>SELECCIONE TIPO DE PROFORMA</label>
                                <div class="form-group">
                                    <div class="form-line">
                                        <select class="form-control form-control-sm" id="cmbtipoproforma" asp-for="idtipocotizacion">
                                            <option value="0" selected>[SELECCIONE]</option>
                                            @foreach (var item in ViewBag.tipocotizacion)
                                            {
                                                <option value="@item.idtipocotizacion">@item.descripcion</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3">
                                <label>PROVEEDOR</label>
                                <div class="form-group">
                                    <div class="form-line">
                                        <input type="text" name="name" value="" class="idproveedor form-control form-control-sm" id="codigoproveedor" readonly />
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-5">
                                <label>RAZON SOCIAL</label>
                                <div class="form-group">
                                    <div class="form-line">
                                        <input type="text" name="name" value="" class="razonproveedor form-control form-control-sm" id="razonproveedor" disabled />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="card">
                                    <div class="header bg-blue-grey">
                                        <h7>PROFORMA PARA:</h7>
                                    </div>
                                    <div class="body">
                                        <div class="demo-radio-button">
                                            <div class="row">
                                                <div class="col-md-2">
                                                    <input name="group1" type="radio" class="with-gap" id="rdvendedor" />
                                                    <label for="rdvendedor">VENDEDOR</label>
                                                </div>
                                                <div class="col-md-5">

                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <select class="form-control form-control-sm" id="cmbvendedor">
                                                            </select>

                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="row">
                                                <div class="col-md-2">
                                                    <input name="group1" type="radio" class="with-gap" id="rdrepresentante" />
                                                    <label for="rdrepresentante">REPRESENTANTE</label>
                                                </div>
                                                <div class="col-md-5">

                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <select class="form-control form-control-sm" id="cmbrepresentante">
                                                            </select>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>


                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    @*<div class="card-footer text-right">
                            <input type="button" name="next" class="btn btn-primary" id="btnsiguiente1" value="Siguiente" disabled />

                        </div>*@
                </div>


            </div>
            <div class="tab-pane  @panel2 " id="nav-proforma" role="tabpanel">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="body">
                                <form method="post" autocomplete="off" id="form-registro">
                                    <input type="hidden" id="txtidcotizacion" asp-for="idcotizacion" />
                                    <input type="hidden" asp-for="idmoneda" id="txtidmoneda" />
                                    <input type="hidden" asp-for="idtipocotizacion" id="txttipocotizacion" />
                                    <input type="hidden" asp-for="idcontacto" id="txtidcontacto" />
                                    <input type="hidden" asp-for="idrepresentante" id="txtidrepresentante" />
                                    <div class="row">
                                        <div class="col-lg-10 col-md-12">
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <label>COD PROVEEDOR</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <input type="text" id="txtidproveedor" class=" form-control form-control-sm mayusculas required" asp-for="idproveedor" maxlength="20" placeholder="" readonly required>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <label>NUM COTIZACIÓN</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <input type="text" id="txtcodigocotizacion" asp-for="codigocotizacion" placeholder="AUTO" class="form-control form-control-sm text-center" readonly required>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <label>ESTADO</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            @if (Model.estado != "PENDIENTE" && Model.estado != "TERMINADO")
                                                            {
                                                                <input type="text" id="txtestado" asp-for="estado" class="form-control form-control-sm" readonly required>
                                                            }
                                                            else
                                                            {
                                                                <select id="txtestado" class="form-control form-control-sm" asp-for="estado" required>
                                                                    <option value="PENDIENTE">PENDIENTE</option>
                                                                    <option value="TERMINADO">TERMINADO</option>
                                                                </select>
                                                            }

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <label>FECHA</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <input id="txtfecha" class="form-control form-control-sm" asp-for="fechasistema" readonly>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-2">
                                                    <label>EMPRESA</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <input type="text" id="txtempresa" class="form-control form-control-sm text-center" value="@ViewBag.EMPRESA" disabled />
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                            @if (Model.idproveedor != null)
                                            {
                                                <div class="row" id="divproveedor">
                                                    <div class="col-md-3">
                                                        <label>RUC PROVEEDOR</label>
                                                        <div class="form-group">
                                                            <div class="form-line">
                                                                <input type="text" id="txtrucproveedor" class="form-control form-control-sm" disabled>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <label>RAZON SOCIAL PROVEEDOR</label>
                                                        <div class="form-group">
                                                            <div class="form-line">
                                                                <input type="text" id="txtrazonsocial" class="form-control form-control-sm" disabled>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <label>TELEFONO PROVEEDOR</label>
                                                        <div class="form-group">
                                                            <div class="form-line">
                                                                <input type="text" id="txttelefonoproveedor" class="form-control form-control-sm" disabled>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                            @if (Model.idcontacto != null)
                                            {
                                                <div class="row" id="divcontacto">
                                                    <div class="col-md-6">
                                                        <label>CONTACTO</label>
                                                        <div class="form-group">
                                                            <div class="form-line">
                                                                <input type="text" id="txtnombrescontacto" class="form-control form-control-sm" disabled>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <label>TELEFONO CONTACTO</label>
                                                        <div class="form-group">
                                                            <div class="form-line">
                                                                <input type="text" id="txttelefonocontacto" class="form-control form-control-sm" disabled>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <label>CELULAR CONTACTO</label>
                                                        <div class="form-group">
                                                            <div class="form-line">
                                                                <input type="text" id="txtcelularcontacto" class="form-control form-control-sm" disabled>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                            @if (Model.idrepresentante != null)
                                            {

                                                <div class="row ocultar" id="divrepresentante">
                                                    <div class="col-md-6">
                                                        <label>REPRESENTANTE</label>
                                                        <div class="form-group">
                                                            <div class="form-line">
                                                                <input type="text" id="txtnombresrepresentante" class="form-control form-control-sm" disabled>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <label>TELEFONO REPRESENTANTE</label>
                                                        <div class="form-group">
                                                            <div class="form-line">
                                                                <input type="text" id="txttelefonorepresentante" class="form-control form-control-sm" disabled>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <label>CELULAR REPRESENTANTE</label>
                                                        <div class="form-group">
                                                            <div class="form-line">
                                                                <input type="text" id="txtcelularrepresentante" class="form-control form-control-sm" disabled>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                            <div class="row">
                                                <div class="col-md-2">
                                                    <label>FECHA VENCIMIENTO</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <input type="date" id="txtfechavencimiento" class="form-control form-control-sm" asp-for="fechavencimiento" required>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <label>TIPO MONEDA</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            @*<input type="text" class="form-control form-control-sm" name="" value="" id="txtmoneda" disabled />*@
                                                            <select class="form-control form-control-sm show-tick" id="cmbmoneda" asp-for="idmoneda" required>
                                                                <option value="" selected>[SELECCIONE]</option>
                                                                @foreach (var item in ViewBag.monedas)
                                                                {
                                                                    <option value="@item.idmoneda">@item.nombre</option>
                                                                }
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-1">
                                                    <label>CAMBIO</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <input type="text" id="txtcambiomoneda" class="form-control form-control-sm" name="cambiomoneda" onkeypress="return justNumbers(event);" value="0" required>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <label>TIPO PAGO</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <select class="form-control form-control-sm show-tick" id="cmbtipopago" asp-for="idtipopago">
                                                                <option value="" selected>[SELECCIONE]</option>
                                                                @foreach (var item in ViewBag.tipopago)
                                                                {
                                                                    if (item.descripcion == "CREDITO" || item.descripcion == "EFECTIVO" || item.descripcion == "DEPOSITO")
                                                                    {
                                                                        <option value="@item.idtipopago">@item.descripcion</option>
                                                                    }
                                                                }
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <label>CONDICIÓN PAGO</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <select class="form-control form-control-sm show-tick" id="cmbcondicionpago" asp-for="idcondicionpago">
                                                                <option value="" selected>[SELECCIONE]</option>
                                                                @foreach (var item in ViewBag.condicionpago)
                                                                {
                                                                    <option value="@item.idcondicionpago">@item.descripcion</option>
                                                                }
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>


                                                <div class="col-md-2 ocultar" id="divicoterms">
                                                    <div class="form-group">
                                                        <label>ICOTERMS</label>
                                                        <select class="form-control form-control-sm show-tick" id="cmbicoterms" asp-for="idicoterms">
                                                            <option value="" selected>[SELECCIONE]</option>
                                                            @foreach (var item in ViewBag.icoterms)
                                                            {
                                                                <option value="@item.idicoterms">@item.idicoterms</option>
                                                            }
                                                        </select>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-2 col-md-12">


                                            <div class="row">
                                            @if (Model.estado == "PENDIENTE")
                                            {
                                                <div class="col-lg-12 mt-1">
                                                    <button type="submit" class="btn btn-success btn-block" id="btnguardar"><i class="fas fa-save mr-2"></i>GUARDAR</button>
                                                </div>
                                            }else{
                                                <div class="col-lg-12 mt-1">
                                                    <button type="submit" class="btn btn-success btn-block" id="btnguardar" disabled><i class="fas fa-save mr-2"></i>GUARDAR</button>
                                                </div>
                                                }
                                                <div class="col-lg-12 mt-1">
                                                    <button type="button" id="btnnuevo" class="btn btn-outline-info btn-block"><i class="fas fa-redo mr-2"></i>NUEVO</button>
                                                </div>
                                                <div class="col-lg-12 mt-1">
                                                    <button type="button" class="btn btn-outline-dark btn-block" id="btnimprimir" href="#"><i class="fas fa-print mr-2"></i>IMPRIMIR</button>
                                                </div>
                                                @if (Model.idcotizacion != 0)
                                                {
                                            <div class="col-lg-12 mt-1">
                                                <a asp-action="Duplicar" asp-route-id="@Model.idcotizacion" target="_blank" class="btn btn-outline-secondary btn-block"><i class="fas fa-copy mr-2"></i> DUPLICAR</a>
                                            </div> @*@if (Model.estado == "PENDIENTE" || Model.estado == "TERMINADO")
                    {
                        <div class="col-lg-12 mt-1">
                            <button type="button" class="btn btn-outline-danger btn-block" onclick="fnAnularCotizacion()"><i class="fas fa-trash-alt mr-2"></i>ANULAR</button>
                        </div>
                    }*@}

                                            </div>


                                        </div>
                                    </div>

                                </form>
                                <div class="row mt-4">
                                    <div class="col-xl-12">
                                        <div class="row">
                                            <div class="col-xl-3 col-md-6">
                                                <label>
                                                    <i class="fa fa-search pos-abs mt-2 pt-3px ml-25 text-blue-m2"></i>
                                                    <input type="text" id="txtfiltrotabladetalle" class="form-control form-control-sm input-datatable-search" placeholder=" Buscar registros">
                                                </label>
                                            </div>
                                            <div class="col-xl-1 col-md-2">
                                                <button class="btn btn-primary btn-block btn-sm" id="btnaddproducto">
                                                    <i class="fas fa-plus"></i>
                                                </button>
                                            </div>
                                            <div class="col-xl-1 col-md-2 offset-md-2 offset-xl-7">
                                                <input class="form-check-input" type="checkbox" value="" id="chkConIgv" checked>
                                                <label class="form-check-label" for="chkConIgv">
                                                    CON IGV
                                                </label>
                                            </div>

                                        </div>
                                        <div class="row mt-2">
                                            <div class="col-xl-12">
                                                <div class="card bcard h-auto">
                                                    <div class="border-t-3 brc-blue-m2 table-responsive contenedor-sticky-500">

                                                        <table class=" table  table-bordered font-10" width="100%" id="tbllista">
                                                            <thead class="thead-dark shadow-sm">
                                                                <tr>
                                                                    <th>OTROSDATOS</th>
                                                                    <th class=" header-sticky-cruce">N°</th>
                                                                    <th class="  header-sticky">COD </th>
                                                                    <th class=" header-sticky">DESCRIPCION</th>
                                                                    <th class="header-sticky"></th>
                                                                    <th class=" header-sticky">RO.</th>
                                                                    <th class="header-sticky">RE.</th>

                                                                    <th class=" header-sticky">LAB.</th>
                                                                    <th class="header-sticky">CANT</th>
                                                                    <th class="header-sticky">UM</th>

                                                                    <th class="header-sticky">VVF</th>
                                                                    <th class="header-sticky">PVF</th>
                                                                    <th class="header-sticky">BF.</th>

                                                                    <th class="header-sticky">COSTO</th>
                                                                    <th class=" header-sticky">C.FAC.</th>

                                                                    <th class="header-sticky" id="tooltipdes1" data-toggle="tooltip" data-placement="top" title="DESCUENTO DE PROVEEDOR">D%1</th>
                                                                    <th class=" header-sticky" id="tooltipdes2" data-toggle="tooltip" data-placement="top" title="DESCUENTO DE LABORATORIO">D%2</th>
                                                                    <th class="header-sticky">D%3</th>
                                                                    <th class=" header-sticky">S.TOTAL</th>
                                                                    <th class=" header-sticky">TOTAL</th>
                                                                    <th class="header-sticky"></th>

                                                                </tr>
                                                            </thead>
                                                            <tbody class="" id="tbody">
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="row justify-content-end">
                                            <div class="col-lg-4">
                                                <table border="0" class="table table-sm">
                                                    <tr>
                                                        <td style="text-align:right">SUB TOTAL: <label>S/.</label></td>
                                                        <td><label id="lblsubtotal" style="text-align:right">00.00</label>  </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="text-align:right">IMPUESTO: <label>S/.</label></td>
                                                        <td id=""> <label id="lblimpuesto" style="text-align:left">00.00</label> </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="text-align:right">TOTAL FACTURA: <label>S/.</label></td>
                                                        <td id=""> <label id="lbltotalfactura" style="text-align:left">00.00</label> </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="text-align:right">TOTAL PRONT. PGO: <label>S/.</label></td>
                                                        <td id=""><label id="lbltotal" style="text-align:left">00.00</label> </td>
                                                    </tr>

                                                </table>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>

    </div>
</div>

<partial name="~/Areas/Compras/Views/modales/_modalProveedores.cshtml" />
<partial name="~/Areas/Compras/Views/modales/_modalInsumosProveedor.cshtml" />
<partial name="~/Areas/Compras/Views/modales/_modalProductoProveedorxLaboratorio.cshtml" />
<partial name="~/Areas/Compras/Views/modales/cotizacion/_modalBonificacion.cshtml" />
<partial name="~/Areas/Compras/Views/modales/cotizacion/_modalAnalisisProducto.cshtml" />
<partial name="~/Views/Modales/Imprimir.cshtml" />
<script src="~/js/areas/compras/cotizacion/registrar.js"></script>
<script src="~/js/controller/compras/CotizacionController.js"></script>
@*<script src="~/js/areas/compras/cotizacion/anularcotizacion.js"></script>*@