@model ENTIDADES.ventas.Venta
@{
    ViewData["Title"] = "Reg. Venta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (ViewBag.verificarcaja.mensaje == "ok")
{
    <script>
    var _MODELO= @Html.Raw(Json.Serialize(Model));
    var _MONEDAS=@Html.Raw(Json.Serialize(ViewBag.Monedas));
    var _TIPOPAGO=@Html.Raw(Json.Serialize(ViewBag.Tipopagos));
    var _DATOSCAJA =@Html.Raw(Json.Serialize(ViewBag.verificarcaja.objeto));
    var IGV =@Html.Raw(Json.Serialize(ViewBag.IGV));
    var _TIPOVENTA =@Html.Raw(Json.Serialize(ViewBag.tipoventa));
    var _EMPRESAAUX =@Html.Raw(Json.Serialize(ViewBag.IDEMPRESA));

    var _SERIE = "";
    var _NUMDOCUMENTO = "";
    if (_TIPOVENTA == "MANUAL") {
        _SERIE =@Html.Raw(Json.Serialize(ViewBag.serie));
        _NUMDOCUMENTO =@Html.Raw(Json.Serialize(ViewBag.numdocumento));
    }

    IGV = parseFloat(IGV);
    if (IGV >= 1)
            IGV = IGV / 100;
    if (_EMPRESAAUX == 1001)//SACAR igv CUANDO ES AMAZONIA
        IGV = 0;
    var IDSUCURSAL =@Html.Raw(Json.Serialize(ViewBag.IDSUCURSAL));

    </script>
    <div class="card mb-3" id="card-1">
        <div class="card-header">
            <h5 class="card-title">
                <a asp-action="HistorialVentas"><i class="fas fa-long-arrow-alt-left font-22"></i></a>
                REGISTRAR VENTA @ViewBag.tipoventa <span id="lblventapor"></span>
            </h5>
            <div class="card-toolbar font-10">
                <button class="card-toolbar-btn btn btn-sm btn-dark" id="btnpedido">
                    <i class="fas fa-clipboard-list mr-2"></i>Pedido
                </button>
                <button class="card-toolbar-btn btn btn-sm btn-dark" id="btnhistorialcliente">
                    <i class="fas fa-clipboard-list mr-2"></i>Historial
                </button>
            </div>
        </div><!-- /.card-header -->

        <form autocomplete="off" id="formregistro">
            <!--<input type="hidden" asp-for="idpromopack" id="txtidpromopack" />--><!--EARTCOD1009 -->
            <input type="hidden" asp-for="idaperturacaja" id="txtidaperturacaja" />
            <input type="hidden" asp-for="idventa" id="txtidventa" />
            <input type="hidden" asp-for="idcliente" id="txtidcliente" />
            <input type="hidden" asp-for="idpaciente" id="txtidpaciente" />
            <input type="hidden" class="form-control " asp-for="idtablaventapor" id="txtidtablaventapor" />
            <input type="hidden" class="form-control " asp-for="ventapor" id="txtventapor" />
            <div class="card-body">
                <div class="row">
                    <div class="col-xl-3 col-sm-12 border">
                        <div class="form-group row">
                            <div class="col-xl-12 col-sm-12">
                                <label>TIPO DOCUMENTO</label>
                                <select class="form-control form-control-lg" asp-for="iddocumento" id="cmbiddocumento" required></select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-xl-4 col-sm-4">
                                <label>SERIE</label>
                                <input type="text" asp-for="serie" id="txtserie" class="form-control form-control-sm" readonly />
                            </div>
                            <div class="col-xl-8 col-sm-8">
                                <label>NÚMERO DE DOCUMENTO</label>
                                <input type="text" asp-for="numdocumento" id="txtnumerodocumento" class="form-control form-control-sm" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-xl-6 col-sm-6">
                                <label>CAJA</label>
                                <input type="text" id="txtnombrecaja" class="form-control form-control-sm" disabled />
                            </div>
                            <div class="col-xl-6 col-sm-6">
                                <label>USUARIO</label>
                                <input type="text" id="txtusuario" class="form-control form-control-sm" value="@User.Identity.Name" disabled />
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-xl-6 col-sm-6">
                                <label>EMPRESA</label>
                                <input type="text" id="txtnombreempresa" class="form-control form-control-sm" value="@ViewBag.EMPRESA" disabled />
                            </div>
                            <div class="col-xl-6 col-sm-6">
                                <label>SUCURSAL</label>
                                <input type="text" id="txtnombresucursal" class="form-control form-control-sm" value="@ViewBag.SUCURSAL" disabled />
                            </div>
                        </div>

                    </div>
                    <div class="col-xl-6 col-sm-12 border ">
                        <div class="row">
                            <div class="col-xl-6 col-sm-12">
                                <div class="form-group text-center">
                                    <label>FECHA</label>
                                    @if (Model == null)
                                    {
                                        <span type="text" class="form-control text-center horaactual" name="fecha" id="lblfecha"></span>
                                        <input type="date" class="form-control ocultar" id="txtfecha" name="fecha" disabled /> }
                                    else
                                    {
                                        <span type="text" class="form-control text-center " name="fecha" id="lblfecha">@Model.fecha.ToString()</span>}
                                </div>
                            </div>
                            <div class="col-xl-6 col-sm-12">
                                <label>NÚMERO DE PROFORMA</label>
                                <div class="input-group  mb-3">

                                    <input type="text" class="form-control " id="txtcodproforma" />
                                    <div class="input-group-prepend">
                                        <button class="btn btn-sm btn-dark" data-toggle="modal" data-target="#modalproforma" type="button" id="btnbuscarproforma"><i class="fas fa-search"></i></button>
                                    </div>
                                </div>

                            </div>
                            <div class="col-xl-12 col-sm-12">
                                <div class="">
                                    <span>DATOS DE CLIENTE</span>

                                    <div class=" row">

                                        <div class="col-xl-4 col-sm-4">
                                            <label>NUM DOCUMENTO</label>
                                            <div class="input-group  mb-3">
                                                <input type="text" class="form-control " numdoc="" id="txtnumdoccliente" required />
                                                <div class="input-group-prepend">
                                                    <button class="btn btn-sm btn-dark" type="button" id="btnbuscarcliente"><i class="fas fa-search"></i></button>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-xl-8 col-sm-8">
                                            <label>NOMBRES / RAZON SOCIAL</label>
                                            <input type="text" id="txtnombrescliente" class="form-control text-uppercase" disabled required />
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-12 col-sm-12">
                                <div class="">
                                    <span>DATOS DE PACIENTE</span>

                                    <div class=" row">

                                        <div class="col-xl-4 col-sm-4">
                                            <label>NUM DOCUMENTO</label>
                                            <div class="input-group  mb-3">
                                                <input type="text" class="form-control " numdoc="" id="txtnumdocpaciente" required />
                                                <div class="input-group-prepend">
                                                    <button class="btn btn-sm btn-dark" type="button" id="btnbuscarpaciente"><i class="fas fa-search"></i></button>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-xl-8 col-sm-8">
                                            <label>NOMBRES DE PACIENTE</label>
                                            <input type="text" id="txtnombrespaciente" class="form-control text-uppercase" disabled required />
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-12" id="contmedico">
                                <div class="row border">
                                    <div class="col-xl-2 col-md-2 col-xs-12">
                                        <div class=" form-group">
                                            <label>TIPO DOC.</label>
                                            <select class="form-control form-control-sm" id="cmbtipodocmedico"></select>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                                        <div class="form-group">
                                            <label>COLEGIATURA</label>
                                            <div class="input-group mb-3">
                                                <input type="text" class="form-control form-control-sm" id="txtnumcolegiatura" onkeypress="buscarMedico(event)" autocomplete="off">
                                                <div class="input-group-append">
                                                    <button class="btn btn-outline-secondary" type="button" id="btnbuscarmedico"><i class="fa fa-search"></i></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-7 col-md-6 col-sm-8 col-xs-12">
                                        <div class="form-group ">
                                            <label>NOMBRES DE MÉDICO</label>
                                            <input type="hidden" asp-for="med_codigo" id="txtidmedico">
                                            <input id="txtnombremedico" type="text" class="form-control  form-control-sm" value="" disabled>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>



                    </div>
                    <div class="col-xl-3 col-sm-12 border">
                        <div class="row mt-3 justify-content-center">
                            @if (User.IsInRole("FACTURAR FUERA DE FECHA"))@*User.IsInRole("ADMINISTRADOR") ||*@
                            {

                                <div class="col-xl-12">
                                    <div class="form-inline">
                                        <input type="checkbox" id="checkfacturafuerafecha" class="mr-2 ml-2" />
                                        <label>Facturar fuera de fecha </label>
                                    </div>
                                </div>
                            }

                            @if (Model is null)
                            {
                                <div class="col-xl-6 col-sm-6 mt-3">
                                    <button class="btn btn-success btn-block" type="button" id="btncobrar"><i class="fas fa-hand-holding-usd mr-2 mb-1"></i> COBRAR [F1]</button>
                                </div>
                            }
                            else
                            {
                                <div class="col-xl-6 col-sm-6 mt-3">
                                    <button class="btn btn-success btn-block" type="button" id="btncobrar" disabled><i class="fas fa-hand-holding-usd mr-2 mb-1"></i> COBRAR [F1]</button>
                                </div>

                            }
                            <div class="col-xl-6 col-sm-6 mt-3">
                                <button class="btn btn-outline-info btn-block" type="button" id="btnnuevo"><i class="fas fa-redo mr-2 mb-1"></i> NUEVO [F2]</button>
                            </div>
                            <div class="col-xl-6 col-sm-6 mt-3">
                                <button class="btn btn-outline-dark btn-block" type="button" id="btnimprimir"> <i class="fas fa-print mr-2 mb-1"></i> IMPRIMIR [F3]</button>
                            </div>
                            <div class="col-xl-6 col-sm-6 mt-3">
                                <button class="btn btn-outline-danger btn-block" type="button" id="btncancelar"><i class="fas fa-times-circle mr-2 mb-1"></i>  CANCELAR [F4]</button>
                            </div>
                            <div class="col-xl-12 col-sm-12 mt-3" id="contenedorcmbListaPrecios" hidden>
                                <label>LISTA PRECIOS</label>
                                <select class="form-control" id="cmbListaPrecios"></select>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row justify-content-end mt-4" id="contenedortbllista">
                    <div class="col-xl-10 col-sm-12 border">
                        <div class="table-responsive contenedor-sticky-400 m-1">
                            <table class="table table-sm table-bordered" id="tbldetalle" width="100%">
                                <thead class="thead-dark">
                                    <tr>
                                        <th style="width:5%" class="header-sticky"></th>
                                        <th style="width:2%" class="header-sticky">#</th>
                                        <th style="width:10%" class="header-sticky">COD</th>
                                        <th style="width:35%" class="header-sticky">PRODUCTO</th>
                                        <th style="width:10%" class="header-sticky">LOTE</th>
                                        <th style="width:10%" class="header-sticky">FV</th>
                                        <th style="width:10%" class="header-sticky">CANTIDAD</th>
                                        <th style="width:2%" class="header-sticky">F</th>
                                        @*<th style="width:2%" class="header-sticky">B</th>*@
                                        <th style="width:10%" class="header-sticky">PRECIO</th>
                                        <th style="width:10%" class="header-sticky">DES%</th>
                                        <th style="width:10%" class="header-sticky">IMPORTE</th>
                                        <th style="width:5%" class="header-sticky"></th>
                                    </tr>
                                </thead>
                                <tbody id="tbodydetalle"></tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-xl-2 col-sm-6 border">
                        @if (Model is null)
                        {
                            <div class="form-group mt-2" id="contenedoragregaritem">
                                <button class="btn btn-primary btn-block waves-effect" id="btnagregaritem" type="button"><i class="fas fa-plus mr-2"></i>AGREGAR ITEM</button>
                                <hr />
                            </div>}
                        <!--div class="form-group mt-2" style="display:none"-->
                        <div class="form-group mt-2" style="display:none">
                            <button class="btn btn-primary btn-block waves-effect" id="btnagregaritem" type="button"><i class="fas fa-plus mr-2"></i>AGREGAR ITEM</button>
                            <hr />
                        </div>

                        <div class="form-group row mt-4">
                            <div class="col-xl-5 col-sm-6">
                                <label class="font-10">SUB TOTAL</label>
                            </div>
                            <div class="col-xl-7 col-sm-6">
                                <input type="text" id="txtsubtotal" asp-for="subtotal" class="form-control font-14 text-right" readonly />
                            </div>
                        </div>
                        <!-- //EARTCOD1009 -->
                        <div class="form-group row">
                            <div class="col-xl-5 col-sm-6">
                                <label class="font-10">DESCUENTO</label>
                            </div>
                            <div class="col-xl-7 col-sm-6">
                                <input type="text" id="txtpkdescuento" asp-for="pkdescuento" name="pkdescuento" class="form-control font-14 text-right" disabled />
                            </div>
                        </div>
                        <!-- //-EARTCOD1009 -->
                        <div class="form-group row">
                            <div class="col-xl-5 col-sm-6">
                                <label class="font-10">IGV</label>
                            </div>
                            <div class="col-xl-7 col-sm-6">
                                <input type="text" id="txtigv" class="form-control font-14 text-right" disabled />
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-xl-5 col-sm-6">
                                <label class="font-10">TOTAL</label>
                            </div>
                            <div class="col-xl-7 col-sm-6">
                                <input type="text" id="txttotal" asp-for="total" class="form-control font-14 text-right" readonly />
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-xl-5 col-sm-6">
                                <label class="font-10">TOTAL REDONDEADO</label>
                            </div>
                            <div class="col-xl-7 col-sm-6">
                                <input type="text" id="txttotalredondeado" class="form-control font-14 text-right" disabled />
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <partial name="~/Areas/Ventas/Views/Venta/modal/_modalcobrar.cshtml" />
        </form>
    </div>

    <partial name="~/Areas/Maestros/Views/Cliente/modal/modalbusquedayregistrocliente.cshtml" />
    <partial name="~/Areas/Maestros/Views/Paciente/modal/modalbusquedayregistropaciente.cshtml" />
    <partial name="~/Areas/Ventas/Views/Venta/modal/_modalbuscarproductos.cshtml" />
    <partial name="~/Areas/Ventas/Views/Venta/modal/_modalhistorialclientes.cshtml" />
    <partial name="~/Areas/Ventas/Views/Venta/modal/_modalstockitemsucursales.cshtml" />
    <partial name="~/Areas/Ventas/Views/Proforma/modal/_modalbuscarproformas.cshtml" />
    <partial name="~/Areas/Ventas/Views/Venta/modal/_modalverdescuentoskit.cshtml" />
    <partial name="~/Areas/Pedidos/Views/Pedido/modal/_modalbuscarpedido.cshtml" />
    <partial name="~/Views/Modales/Imprimir.cshtml" />
    <partial name="~/Areas/Maestros/Views/Medico/modal/_modalbuscarmedicos.cshtml" />
    <partial name="~/Areas/Ventas/Views/Venta/modal/_modalSeleccionarSerieParaGuia.cshtml" />


    <script src="~/js/controller/ventas/VentasController.js"></script>
    <script src="~/js/controller/ventas/ProformaController.js"></script>
    <script src="~/js/controller/maestros/PacienteController.js"></script>
    <script src="~/js/controller/comercial/ListaPreciosController.js"></script>
    <script src="~/js/controller/pedidos/PedidoController.js"></script>
    <script src="~/js/controller/maestros/ColegioController.js"></script>


    <script src="~/js/modelos/venta/Venta.js"></script>
    <script src="~/js/modelos/venta/VentaPagos.js"></script>
    <script src="~/js/areas/ventas/ventas/ventadirecta.js"></script>
    <script src="~/js/areas/ventas/ventas/complementoss/calculobonificacion.js"></script>
    <script src="~/js/areas/ventas/ventas/complementoss/calculocobro.js"></script>
    <script src="~/js/areas/ventas/ventas/complementoss/calculodescuento.js"></script>
    <script src="~/js/areas/ventas/ventas/complementoss/accionesregistro.js"></script>


}
else
{
    <div class="card">
        <div class="card-body">
            <div class="body">
                <div class="alert-warning" style="color:black; padding:50px;margin:50px; font-size:1.2rem" role="alert">
                    <h4 class="alert-heading">ADVERTENCIA</h4>
                    @ViewBag.verificarcaja.mensaje .
                    <div class="row">
                        <div class="col-xl-2">
                            <a asp-area="Ventas" asp-controller="Caja" asp-action="CerrarCaja">Cerrar caja</a>

                        </div>
                        <div class="col-xl-2">
                            <a asp-area="Ventas" asp-controller="Caja" asp-action="AperturarCaja">Aperturar caja</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
