
@model IEnumerable<ENTIDADES.Almacen.ALaboratorio>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        
        <div class="page-header mb-2 pb-2 flex-column flex-sm-row align-items-start align-items-sm-center py-25 px-1">
            <h1 class="page-title text-primary-d2 text-140">
                MARCA/LABORATORIO/TITULAR DEL REGISTRO

            </h1>

            <div class="page-tools mt-3 mt-sm-0 mb-sm-n1">
                <!-- dataTables search box will be inserted here dynamically -->
            </div>
        </div>

        <div class="card bcard h-auto">
            <div class="border-t-3 brc-blue-m2 table-responsive">
                <table class="table table-sm table-bordered collapsed" width="100%" id="tbllista">
                    <thead class="">
                        <tr>
                            
                            <th class="border-0 bgc-white bgc-h-yellow-l3 shadow-sm" style="width:10%">ID</th>
                            <th class="border-0 bgc-white bgc-h-yellow-l3 shadow-sm" style="width:60%"> LABORATORIO</th>
                            <th class="border-0 bgc-white bgc-h-yellow-l3 shadow-sm" style="width:15%">ESTADO</th>
                            <th class="border-0 bgc-white bgc-h-yellow-l3 shadow-sm"></th>
                        </tr>
                    </thead>
                    <tbody class="pos-rel">
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.idlaboratorio)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.descripcion)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.estado)
                                </td>
                                <td class="text-right">
                                    <div class="btn-group btn-group-sm">
                                        <button class="btn btn-sm btn-outline-warning waves-effect btn-pasar"><i class="fa fa-edit"></i></button>
                                        <button class="btn btn-sm btn-outline-danger waves-effect" onclick="mensajeeliminar(@item.idlaboratorio)"><i class="fa fa-trash-alt"></i></button>
                                        <a class="btn btn-sm btn-outline-secondary waves-effect  font-10" data-toggle="tooltip" data-placement="top" title="Agregar representante" asp-area="Almacen" asp-controller="ALaboratorio" asp-action="IndexRepresentante" asp-route-id="@item.idlaboratorio" target="_blank"><i class="fas fa-user"></i></a>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
               
            </div>
        </div>       
    </div>
</div>



<!-- Modal -->
<div class="modal fade" id="modalregistro" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm-2  modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">REGISTRO DE LABORATORIO</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body ">
               

                        <form method="post" autocomplete="off" id="form-registro">
                            <input type="hidden" name="idlaboratorio" value="" id="txtcodigo" />
                            <input type="hidden" value="nuevo" id="txtoperacion" disabled />
                            <label>NOMBRE</label>
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="text" id="txtdescripcion" class="form-control mayusculas" name="descripcion" required>
                                </div>
                            </div>
                            <label>ESTADO</label>
                            <div class="form-group">
                                <div class="form-line">
                                    <select class="form-control show-tick" id="cmbestado" name="estado" required>
                                        <option value="HABILITADO" selected>HABILITADO</option>
                                        <option value="DESHABILITADO">DESHABILITADO</option>
                                    </select>
                                </div>
                            </div>
                            <button class="btn btn-success btn-block" id="btn-guardar" type="submit">GUARDAR DATOS</button>
                            <button class="btn btn-info btn-block " onclick="limpiar()" type="reset">LIMPIAR</button>
                        </form>
                  

            </div>

        </div>
    </div>
</div>





<script src="~/js/areas/almacen/laboratorio/laboratorio.js"></script>