@model ENTIDADES.ventas.Proforma
@{
    ViewData["Title"] = "Proforma";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var estado = "";
    if (Model == null)
        estado = "HABILITADO";
    else if (Model.estado == "APLICADO")
        estado = "APLICADO";
    else
        estado = "HABILITADO";


}
<script>

            var _MODELO= @Html.Raw(Json.Serialize(Model));
            var IGV =@Html.Raw(Json.Serialize(ViewBag.IGV));
            IGV = parseFloat(IGV);
            if (IGV >= 1)
                IGV = IGV / 100;


</script>
<div class="card">

    <div class="page-header mb-2 pb-2 flex-column flex-sm-row align-items-start align-items-sm-center py-25 px-1">
        <h1 class="page-title text-primary-d2 text-140">
            <a asp-action="HistorialProformas"><i class="fas fa-long-arrow-alt-left font-22"></i></a>
            REGISTRAR PROFORMA
        </h1>
    </div>
    <form autocomplete="off" id="formregistro">

        <input type="hidden" asp-for="idproforma" id="txtidproforma" />
        <input type="hidden" asp-for="idcliente" id="txtidcliente" />
        <div class="card-body">
            <div class="row">
                <div class="col-xl-3 col-sm-12 border">
                    <div class="form-group row">

                        <div class="col-xl-12 col-sm-12">
                            <label>USUARIO</label>
                            <input type="text" id="txtusuario" class="form-control form-control-sm" value="@User.Identity.Name" disabled />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-xl-12 col-sm-12">
                            <label>EMPRESA</label>
                            <input type="text" id="txtnombreempresa" class="form-control form-control-sm" value="@ViewBag.EMPRESA" disabled />
                        </div>
                        <div class="col-xl-12 col-sm-12">
                            <label>SUCURSAL</label>
                            <input type="text" id="txtnombresucursal" class="form-control form-control-sm" value="@ViewBag.SUCURSAL" disabled />
                        </div>
                    </div>

                </div>
                <div class="col-xl-6 col-sm-12 border ">
                    <div class="row">
                        <div class="col-xl-6">
                            <div class="form-group text-center">
                                <label>NUM PROFORMA</label>
                                <input type="text" asp-for="codigoproforma" class="form-control" id="txtcodproforma" disabled />
                            </div>
                        </div>
                        <div class="col-xl-6">
                            <div class="form-group text-center">
                                <label>FECHA</label>
                                @if (Model == null) {
                                    <span type="text" class="form-control text-center horaactual" name="fecha" id="lblfecha"></span>
                                }
                                else {
                                    <span type="text" class="form-control text-center " name="fecha" id="lblfecha">@Model.fecha.ToString()</span>
                                }
                            </div>
                        </div>
                    </div>

                    <div class="">
                        <small>DATOS DE CLIENTE</small>

                        <div class=" row">

                            <div class="col-xl-4 col-sm-4">
                                <label>NUM DOCUMENTO</label>
                                <div class="input-group input-group-sm mb-3">
                                    <input type="text" class="form-control form-control-sm" numdoc="" id="txtnumdoccliente" />
                                    <div class="input-group-prepend">
                                        <button class="btn btn-sm btn-dark" type="button" id="btnbuscarcliente"><i class="fas fa-search"></i></button>
                                    </div>
                                </div>

                            </div>
                            <div class="col-xl-8 col-sm-8">
                                <label>NOMBRES / RAZON SOCIAL</label>
                                <input type="text" id="txtnombrescliente" class="form-control form-control-sm" disabled />
                            </div>

                        </div>
                    </div>

                </div>
                <div class="col-xl-3 col-sm-12 border">
                    <div class="row mt-3 justify-content-center">
                        @if (estado != "APLICADO") {
                            <div class="col-xl-6 col-sm-6 mt-3">
                                <button class="btn btn-success btn-block" type="submit" id="btnguardar"><i class="fas fa-save  mr-2 mb-1"></i>  GUARDAR [F1]</button>
                            </div>
                        }
                        else {
                            <div class="col-xl-6 col-sm-6 mt-3">
                                <button class="btn btn-success btn-block" type="submit" id="btnguardar" disabled><i class="fas fa-save  mr-2 mb-1"></i>  GUARDAR [F1]</button>
                            </div>
                        }

                        @if (Model != null) {
                            <div class="col-xl-6 col-sm-6 mt-3">
                                <button class="btn btn-outline-danger btn-block" type="button" id="btnanular"><i class="fas fa-trash-alt mr-2 mb-1"></i>  ANULAR [F6]</button>
                            </div>
                        }


                        <div class="col-xl-6 col-sm-6 mt-3">
                            <button class="btn btn-outline-info btn-block" type="button" id="btnnuevo"><i class="fas fa-redo mr-2 mb-1"></i> NUEVO [F2]</button>
                        </div>
                        <div class="col-xl-6 col-sm-6 mt-3">
                            <button class="btn btn-outline-dark btn-block" type="button" id="btnimprimir"> <i class="fas fa-print mr-2 mb-1"></i> IMPRIMIR [F3]</button>
                        </div>
                        <div class="col-xl-6 col-sm-6 mt-3">
                            <button class="btn btn-outline-danger btn-block" type="button" id="btncancelar"><i class="fas fa-times-circle mr-2 mb-1"></i>  CANCELAR [F4]</button>
                        </div>

                    </div>
                </div>

            </div>

            <div class="row justify-content-end mt-4">
                <div class="col-xl-10 col-sm-12 border">
                    <div class="table-responsive contenedor-sticky-400 m-1">
                        <table class="table table-sm table-bordered" id="tbldetalle" width="100%">
                            <thead class="thead-dark">
                                <tr>
                                    <th class="header-sticky"></th>
                                    <th style="width:2%" class="header-sticky">#</th>
                                    <th style="width:10%" class="header-sticky">COD</th>
                                    <th style="width:35%" class="header-sticky">PRODUCTO</th>
                                    <th style="width:10%" class="header-sticky">LOTE</th>
                                    <th style="width:10%" class="header-sticky">FV</th>
                                    <th style="width:10%" class="header-sticky">CANTIDAD</th>
                                    <th style="width:2%" class="header-sticky">F</th>
                                    @*  <th style="width:2%" class="header-sticky">B</th>*@
                                    <th style="width:10%" class="header-sticky">PRECIO</th>
                                    <th style="width:10%" class="header-sticky">D%</th>
                                    <th style="width:10%" class="header-sticky">IMPORTE</th>
                                    <th style="width:5%" class="header-sticky"></th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="col-xl-2 col-sm-6 border ">

                    <div class="form-group mt-2">
                        @if (estado != "APLICADO") {
                            <button class="btn btn-primary btn-block waves-effect" id="btnagregaritem" type="button"><i class="fas fa-plus mr-2"></i>AGREGAR ITEM</button>

                        }
                        else {
                            <button class="btn btn-primary btn-block waves-effect" id="btnagregaritem" disabled type="button"><i class="fas fa-plus mr-2"></i>AGREGAR ITEM</button>

                        }
                        <hr />


                        <div class="form-group row mt-4">
                            <div class="col-xl-5 col-sm-6">
                                <label class="font-10">SUB TOTAL</label>
                            </div>
                            <div class="col-xl-7 col-sm-6">
                                <input type="text" id="txtsubtotal" class="form-control  font-14" disabled />
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-xl-5 col-sm-6">
                                <label class="font-10">IGV</label>
                            </div>
                            <div class="col-xl-7 col-sm-6">
                                <input type="text" id="txtigv" class="form-control font-14" disabled />
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-xl-5 col-sm-6">
                                <label class="font-10">TOTAL</label>
                            </div>
                            <div class="col-xl-7 col-sm-6">
                                <input type="text" id="txttotal" class="form-control font-14" disabled />
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-xl-5 col-sm-6">
                                <label class="font-10">TOTAL REDONDEADO</label>
                            </div>
                            <div class="col-xl-7 col-sm-6">
                                <input type="text" id="txttotalredondeado" class="form-control font-14" disabled />
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </form>

</div>
<partial name="~/Areas/Maestros/Views/Cliente/modal/modalbusquedayregistrocliente.cshtml" />
<partial name="~/Areas/Ventas/Views/Venta/modal/_modalbuscarproductos.cshtml" />
<partial name="~/Areas/Ventas/Views/Venta/modal/_modalstockitemsucursales.cshtml" />
<partial name="~/Views/Modales/Imprimir.cshtml" />
<script src="~/js/controller/ventas/ProformaController.js"></script>
<script src="~/js/areas/ventas/proforma/proforma.js"></script>
<script src="~/js/areas/ventas/ventas/complementoss/calculodescuento.js"></script>
<script src="~/js/modelos/venta/Proforma.js"></script>
<script src="~/js/areas/ventas/ventas/complementoss/calculobonificacion.js"></script>


<script src="~/js/controller/comercial/ListaPreciosController.js"></script>